body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: arial;
}

nav#myNav{
	position: fixed;
	top: 0;
	left: -250px;
	height: 100%;
	width: 250px;
	background-color: #222;
	color: #fff;
	z-index: 99;
	transition: .5s;
}
#openNav{
	position: fixed;
	z-index: 9;
	top: 40px;
	left: 25px;
	background-color: #222;
	color: #fff;
}
#closeNav{
	padding: 10px 15px;
	background-color: #3498db;
	text-align: center;
	color: #fff;
}
nav#myNav ul{
	margin: 10;
	padding: 0;
}
nav#myNav ul li{
	list-style: none;
}
nav#myNav ul li a{
	display: block;
	padding: 20px 20px;
	background-color: #111;
	border-bottom: 1px solid #222;
	color: #fff;
	text-decoration: none;
}
.slider{
	max-width: 400px;
	position: relative;
	margin: 0 auto;

}
.slider .slider-item img{
	max-width: 100%;
	height: auto;
}
.slider .slide-left,
.slider .slide-right{
	position: absolute;
	top: 50px;
	height: 50px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	background-color: #222;
	color: #fff;
	transform: translateY(-50%);
}
.slider .slide-left{
	left: 0;
}
.slider .slide-right{
	right: 0;
}
.blue{
	line-height: 250px;
	font-size: 45px;
	color: #fff;text-align: center;
	background-color: #3498db;
}